.card4 {
  margin-top: 80px;
  height: 1000px;
  width: 1500px;
  background-color: rgb(252, 248, 248);
  margin-left: 12px;
}

.card5 {
  display: flex;
  align-items: center;
  background: white;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 31%;
  height: 32%;
  margin-right: 2%;
  margin-top: 1%;
}

.card-img-top {
  width: 150px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
  margin-left: 13px;
  background-color: black;
}

.card-content {
  flex-grow: 1;
  text-align: left;
}

.card h2 {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.card p {
  margin: 5px 0;
  color: #6c757d;
  font-size: 0.9em;
}

.card6 {
  height: 210px;
  width: 1400px;
  background-color: rgb(255, 255, 255);
  margin-left: 28px;
}

.card7 {
  display: flex;
  align-items: center;
  background: rgb(254, 251, 251);
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 31%;
  height: 32%;
  margin-right: 2%;
  margin-bottom: 6%;
  border-color: black;
}

/* Media Query for mobile view */
@media (max-width: 768px) {
  .card4 {
    width: 100%;  
    margin-left: 0;
  }

  .card5, .card7 {
    width: 100%;
    margin-right: 0;
    margin-top: 10px; 
    height: auto;  
  }

  .card-img-top {
    width: 100%; 
    height: auto;
  }

  .card6 {
    width: 100%;
    margin-left: 0;
  }
}
